In [1]:
print("Hello, World!")

Hello, World!

In [1]:
print("This is a test file.")

This is a test file.

In [10]:
import pymongo
import pandas as pd
import certifi

In [ ]:
# Connection details
DB_NAME = "US_VISA"
COLLECTION_NAME = "visa_data"
CONNECTION_URL = "MONGODB_URI"

In [12]:
client = pymongo.MongoClient(CONNECTION_URL, tlsCAFile=certifi.where())

In [13]:
db = client[DB_NAME]
collection = db[COLLECTION_NAME]

In [1]:
print("Connected to MongoDB database:")

Connected to MongoDB database:

In [ ]:
import os

# Check if the environment variable exists
mongo_uri = os.getenv("MONGODB_URI")   # replace with your actual key name

if mongo_uri:
    print("✅ MongoDB URI found in environment variable:")
    print(mongo_uri)
else:
    print("❌ MongoDB URI not found. Please set it in your system environment.")

In [1]:
print('ok')

ok

In [2]:
import pymongo
import pandas as pd
import certifi

DB_NAME = "US_VISA"
COLLECTION_NAME = "visa_data"
CONNECTION_URL = "mongodb+srv://susantkumar:susantkumar@cluster0.nk5es8q.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Connect with TLS CA file
client = pymongo.MongoClient(CONNECTION_URL, tlsCAFile=certifi.where())
db = client[DB_NAME]
collection = db[COLLECTION_NAME]

print("✅ Connected to MongoDB!")

data = list(collection.find())
df = pd.DataFrame(data)

if "_id" in df.columns:
    df = df.drop(columns=["_id"])

df.to_csv("visa_data.csv", index=False)
print("✅ Exported successfully")

✅ Connected to MongoDB!
✅ Exported successfully

In [3]:
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.86,Year,Y,Denied
1,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.39,Year,Y,Certified
2,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.14,Year,Y,Certified
3,EZYV12,Asia,High School,Y,N,4069,2005,Northeast,70813.09,Year,Y,Denied
4,EZYV18,Asia,Master's,Y,N,2747,2001,West,16132.61,Year,Y,Certified